/* index.css */

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* CSS */

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 15vh
}

#coin {
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 50%;
    box-shadow: var(--shadow-3);
    font-size: var(--font-size-5);
    font-family: var(--font-mono);
    font-weight: var(--font-weight-9);
    border: var(--border-size-3) solid var(--red-5)
}


/* Flip */

.coinflip {
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, .5);
}

.coinflip:focus {
    transform: scale(1.5) rotateX(1980deg);
    animation: colors 1.5s cubic-bezier(0.075, 0.82, 0.165, .5)
}

@keyframes colors {
    8.5% {
        background-color: var(--yellow-2)
    }
    17% {
        background-color: var(--teal-3)
    }
    25.5% {
        background-color: var(--yellow-2)
    }
    37% {
        background-color: var(--teal-3)
    }
    45.5% {
        background-color: var(--yellow-2)
    }
    54% {
        background-color: var(--teal-3)
    }
    62.5% {
        background-color: var(--yellow-2)
    }
    71% {
        background-color: var(--teal-3)
    }
    79.5% {
        background-color: var(--yellow-2)
    }
    88% {
        background-color: var(--teal-3)
    }
    96.5% {
        background-color: var(--yellow-2)
    }
}